/* ====== NAVBAR COLOR PERSONALIZADO ====== */
.custom-navbar {
    background: #b1e7c3;
}

.custom-navbar a {
    color: #1b3a1c;
    font-weight: 600;
    text-decoration: none;
}

.custom-navbar a:hover {
    text-decoration: underline;
}

/* ====== FOOTER COLOR PERSONALIZADO ====== */
.footer {
    background-color: #1b3a1c;
    color: white;
}

.footer-nav a {
    color: #a5d6a7;
    text-decoration: none;
    margin: 0 5px;
}



